
.containerTitle{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  background-color: rgba(68, 98, 251, 1);
  width: 100%;
  height: 10%;
}
.title{
  color: white;
  margin-left: 40%;
}
.menuButton{
  align-self: center;
  font-size: 1.8rem;
  color: white;
  padding-left: 1rem;
}
.generalContainer{
  display: flex;
  flex-direction: row;
}
.mainContentContainer{
  max-width: 70%;
}
.searchContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7%;
  padding-right: 6%;
  height: 3rem;
  font-size: 1.5rem;
}
.scannerSearch{
  position: 'absolute';
  opacity: 0;
  top: 0;
  left: 0;
  z-index: -1;
}
#searchBar{
  width: 50%;
  height: 80%;
  border: 4px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  padding-left: 1%;
}
.listContainer{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-left: 7%;
}
.ticketAndButtonContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
  gap: 2rem;
  width: 30%;
  transition: all 0.3s ease;
}
.payButton{
  width: 50%;
  background-color: rgba(68, 98, 251, 1);
  height: 3rem;
  border-radius: 10px;
  font-size: large;
  font-weight: 700;
}
.payButtonText{
  color: white;
}
.ticketContainer{
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 0;
}
.dropCartButtonContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dropCartButton{
  background-color: rgba(254, 226, 226, 1);
  border-radius: 15px;
  padding: .7rem;
  font-weight: 700;
}
.ticketProductsContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: .5rem;
}