@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
.mainContainer{
    display: flex;
    width: 100%;
    height: 6rem;
    flex-direction: row;
    padding: 0;
    margin: 0;
    box-shadow: 10px 5px 5px grey;
    border-radius: 10px;
    animation: slideIn 0.3s ease-out forwards;
    will-change: transform, opacity;
}
.imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}
.namePriceContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    width: 50%;
    padding-bottom: 1%;
}
.priceQuantityContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.totalTrashContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.plusLessButtonsContainer{
    display: flex;
    flex-direction: row;
    gap: 7%
}
.lessButton{
    padding: .1rem;
    padding-inline: .8rem;
    border-radius: 50%;
    background-color: rgba(254, 226, 226, 1)
}
.plusButton{
    padding: .1rem;
    padding-inline: .8rem;
    border-radius: 50%;
    background-color: rgba(219, 234, 254, 1)
}
.trashButton{
    padding: .1rem;
    padding-inline: .8rem;
    border-radius: 50%;
    background-color: rgba(254, 226, 226, 1)
}