.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .loginCard {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .loginTitle {
    margin-bottom: 10px;
    color: #333;
    font-size: 1.8rem;
  }
  
  .loginSubtitle {
    color: #777;
    margin-bottom: 30px;
    font-size: 0.9rem;
  }
  
  .formGroup {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .formGroup label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #555;
  }
  
  .formGroup input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box; /* Importante para que el padding no desborde */
  }
  
  .loginButton {
    width: 100%;
    padding: 14px;
    background-color: rgba(68, 98, 251, 1);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .loginButton:hover {
    background-color: #5a3782;
  }
  
  .loginButton:disabled {
    background-color: #ccc;
  }