.cardContainer{
    background-color: rgb(215, 211, 211);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10rem;
    padding-top: 1%;
    border-radius: 10%;
    content-visibility: auto;
    contain-intrinsic-size: 100px 300px;
}

.nameText{
    color: black;
    font-size: 1rem;
}

.priceText{
    color: black;
    padding-top: 2rem;
}